# test / bench run artifacts
tests/*/ion.log
tests/*/config/*_runtime.*
tests/*/server.pem
tests/*/server.key
tests/*/testfile*
tests/*/sendfile
tests/*/bigfile
tests/*/counter.out
tests/*/bpacq.*
tests/*/bpdriverAduFile
bench/ion.log
bench/results.csv
bench/server.pem
bench/server.key
bench/config/*_runtime.*
bench/bpacq.*
bench/bpdriverAduFile

# Generated man pages
doc/*.1

# Built daemons
quiccli
quicclo

# make check artifacts
quicmsg_test
quicmsg_test.log
quicmsg_test.trs
test-suite.log
